<div class="mb-6 px-10">
  <h1 class="text-lg font-bold">about</h1>
  <p class="text-xs">
    Lorem ipsum dolor sit amet consectetur <span Highlight>adipisicing elit</span>. Odio, incidunt, doloribus iure
    consequatur cumque labore, esse perspiciatis voluptatibus atque tempore cupiditate enim reiciendis consectetur
    neque totam quod assumenda. Porro, quibusdam.
  </p>
  <p class="mb-6 text-xs">
    Clientes:
    <app-counter [duration]="duration()" [message]="message()" />
  </p>
  <div class="mb-6">
    <app-wave-audio audioURL="/assets/Audio.mp3" />
  </div>
</div>
